**/__pycache__/ 
#папка с кешом. Если ее нет, то она создастся автоматически
src/modules/test.py
#тестовый файл, используется для проверки
**/venv/
#виртуальное окружение. У разных ОС разное
src/text.txt
#файл с секретной информацией
**/node_modules/
#много весит, зря занимает место занимает 